@import 'compass/css3';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
// @import url('https://fonts.googleapis.com/css?family=Slabo+27px');

// Colors
$black: #000;
$white: #fff;
$primary: #ec1a3a;

// Range Circle
$time: 5s;
$circle-width: 850;
@media only screen and (max-width: 1600) {
  $circle-width: 450;
}
$circle-loader: $circle-width - 50px;
$circle-loader-half: $circle-loader / 2;
$multiplier: 1;
$by: $circle-width / $multiplier;

// Responsive;
$mobile: 667px;
$tablet: 1024px;
$desktop: 1600px;

// Import Base
@import 'base/mixins',
				'base/base',
				'base/main';

// Import Base
@import 'elements/video',
				'elements/aside',
				'elements/circle';