// Responsive
@mixin media($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

// Range Circle
@for $i from 0 through $by {
   $value: $i * $multiplier;
  
  [data-percentage="#{$value}"] .completed {
    @if $value <= 50 {
      clip: rect(0 $circle-loader $circle-loader $circle-loader-half);
    } @else {
      clip: rect(0 $circle-loader $circle-loader 0px);
    }
    
    &.active {
      @if $value <= 50 {
        &:before { 
          transform: rotate(-180 + ($value/100 * 360deg));
          animation: first-#{$value} $time 1 ease-out; 
        }
      } @else {
        animation: mask-#{$value} $time linear;
        &:before { 
          transform: rotate(0deg);
          animation: first-#{$value} $time 1 linear; 
        }
        &:after { 
          transform: rotate(-360 + ($value/100 * 360deg));
          animation: second-#{$value} $time 1 ease-out; 
        }
      }
    }
  }

  @keyframes mask-#{$value} {
    0%, 50% { clip: rect(0 $circle-loader $circle-loader $circle-loader-half); }
    50.01%, 100% { clip: rect(0 $circle-loader $circle-loader 0px); }
  }
  
  @if $value <= 50 {
    @keyframes first-#{$value} {
      0% { transform: rotate(-180deg); }
      50%, 100% { transform: rotate(-180 + ($value/100 * 360deg)); }
    }
  } @else {
    @keyframes first-#{$value} {
      0% { transform: rotate(-180deg); }
      50%, 100% { transform: rotate(0deg); }
    }
    
    @keyframes second-#{$value} {
      0%, 50% { transform: rotate(0deg); }
      50.01% { transform: rotate(-180deg); } 
      100% { transform: rotate(-360 + ($value/100 * 360deg)); }
    }
  }
}