aside {
	position: absolute;
	left: 0;
	top: 0;
	height: 100vh;
	width: 20%;
	padding: 50px;
	background: rgba(236, 26, 58, .9);
	color: $white;
}

.bottom {
	position: absolute;
	bottom: 50px;
	padding-right: 50px;
}

.page {
	font-size: 150px;
	line-height: 100px;

	@include media($desktop) {
		font-size: 100px;
	}

	span {
		display: block;
		width: 100%;
		font-size: 16px;
	}
}