.circle {
	position: absolute;
	left: 50%;
	top: 50%;
	@include translate(-50%, -50%);
	width: $circle-width + px;
	height: $circle-width + px;
	background-color: $white;
	opacity: .9;
	border-radius: 100%;
	padding: 50px;
	border: 30px solid $white;

	p {
		position: relative;
		margin-top: $circle-loader-half - 200;
		margin-bottom: 50px;
		z-index: 99;
		font-size: 35px;
		text-align: center;
	}

	.range-text {
		position: relative;
		z-index: 99;
		margin-bottom: 20px;

		p {
			float: left;
			margin: 0;
			width: 33.33%;
			font-size: 20px;

			&:first-child {text-align: left;}
			&:last-child  {text-align: right;}
		}
	}

	input[type="range"] {
		position: relative;
		z-index: 99;
		width: 100%;
	}

	.range {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  @include translate(-50%, -50%);
	  width: $circle-loader;
	  height: $circle-loader;
	  border-radius: 100%;

	  .completed {
		  position: absolute;
		  top: 0;
		  left: 0;
		  
		  &:before,
		  &:after {
		    content: '';
		    position: absolute;
		    width: $circle-loader;
		    height: $circle-loader;
		    box-shadow: inset 0 0 0px 5px $primary;
		    border-radius: 100%;
		  }
		  
		  &:before { clip: rect(0 $circle-loader $circle-loader $circle-loader-half); }
		  &:after { clip: rect(0 $circle-loader-half $circle-loader 0); }
		}
	}
}