.video {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: -1;

	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		@media (min-aspect-ratio: 16/9) {
			height: 300%;
			top: -100%;
		}
		@media (max-aspect-ratio: 16/9) {
			width: 300%;
			left: -100%;
		}
	}

	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-image: url('/images/plus-overlay.png');
		background-repeat: repeat;
		opacity: .5;
	}
	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-image: url('/images/blur-overlay.png');
		background-repeat: repeat;
		opacity: .05;
	}
}